

    body {
    background-image: url("../images/houndstooth-pattern/houndstooth-pattern.png");
    background-size: auto;
  }

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    overflow: auto;
    
  } 

  #navbar {
      background-color: #ffffff;
      border-bottom: #cccccc solid;
      margin-top: 0px;

  }
  #name {
      background-color: #4aaaa5;
      color: #ffffff;
      float: left;
      margin-left: 10%;
      height:60px;
      padding-right: 25px;
      padding-left:25px;
      padding-top: 10px;
      font-size: 35px;
      font-family: 'Georgia', Times, Times New Roman, serif;
      

  }
  #nav {
      color: #777777;
      float: right;
      margin-right: 10%;
      margin-top:20px;
  }
  #about{
      padding-right: 15px;
      border-right:  #777777 solid;
      border-width: 1px;   
  }

  #portfolio{
    padding-right: 15px;
    padding-left: 15px;
    border-right:  #777777 solid;
    border-width: 1px;
}
#contact{
    padding-right: 15px;
    padding-left: 15px;
}

  /*
  Colors Pro-tip: Use the Eye Dropper Chrome extension to find the colors used on web pages.


Teal color (used for headings and backgrounds): #4aaaa5

Regular font color (used for paragraphs and all text besides the headings): #777777

Main header background color: #ffffff

Main header border color: #cccccc

Footer background color: #666666

Main content background color: #ffffff

Main content border color: #dddddd




Fonts:


For heading fonts use font-family: 'Georgia', Times, Times New Roman, serif;.
For all other fonts use 'Arial', 'Helvetica Neue', Helvetica, sans-serif;.

The entire content and the main section content area is 960px wide.
Pro-tip: Use the Page Ruler extension to measure the size of elements.